@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
.big {
  display: none;
}

h1 {
  font-size: 48px;
  letter-spacing: -1.2px;
  line-height: 48px;
  color: #1b1d23;
}

h2 {
  font-size: 40px;
  letter-spacing: -1.43px;
  line-height: 48px;
  color: #1b1d23;
}

h3 {
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #1b1d23;
}

p {
  font-size: 15px;
  line-height: 25px;
  color: #60636d;
}

a {
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}

.button {
  background: #1b1d23;
  color: #fff;
  padding: 24px 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 0;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.button__arrow {
  font-size: 24px;
}

hr {
  width: 65px;
  height: 1px;
  background: #c8ccd8;
  margin-bottom: 67px;
}

.hr-section {
  width: calc(100% - 57px);
  margin: 72px auto;
}

.mobile-img {
  display: block;
}

.tablet-img {
  display: none;
}

.desktoo-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-img {
    display: none;
  }
  .tablet-img {
    display: block;
  }
  .desktoo-img {
    display: none;
  }
  .big {
    display: block;
    font-size: 120px;
    line-height: 200px;
    letter-spacing: 3px;
    color: #eeeff4;
  }
  h1 {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -2px;
  }
  h2 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2px;
  }
  .hr-section {
    width: calc(100% - 195px);
    margin: 200px auto;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

.img-section {
  width: 100%;
  height: 560px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 27px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.img-section :after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: -1;
}

.img-section h1 {
  margin-bottom: 1rem;
  color: #fff;
}

.img-section p {
  color: #fff;
}

.img-section .button {
  margin-top: 2rem;
}

.img-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.section-center {
  padding: 72px 27px;
  position: relative;
}

.section-center h2 {
  color: #1b1d23;
  margin-bottom: 30px;
}

.section-center__title {
  margin-top: 68px;
}

.section-center__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  color: #1b1d23;
}

.section-center .button {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured-section {
  width: calc(100% - 57px);
  margin: 0 auto;
  padding-top: 72px;
}

.featured-section h2 {
  margin-bottom: 60px;
}

.featured-section a {
  display: none;
}

@media screen and (min-width: 768px) {
  .img-section {
    width: calc(100% - 195px);
    height: 720px;
    margin: 0 auto;
    padding: 58px;
  }
  .middle-image {
    margin: 98px auto;
  }
  .section-center {
    padding: 72px 0;
    width: calc(100% - 195px);
    margin: 0 auto;
  }
  .section-center hr {
    display: none;
  }
  .section-center__border-top {
    position: absolute;
    top: 72px;
    left: 27px;
    width: 65px;
    height: 1px;
    background: #c8ccd8;
  }
  .section-center h2 {
    margin-bottom: 40px;
  }
  .section-center__title {
    margin-top: -20px;
    max-width: 400px;
  }
  .featured-section {
    width: calc(100% - 195px);
  }
  .featured-section__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 72px;
  }
  .featured-section h2 {
    margin-bottom: 0;
  }
  .featured-section a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-portfolio {
  width: calc(100% - 57px);
  margin: 0 auto;
  padding-top: 68px;
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.portfolio-container__article {
  position: relative;
  width: 100%;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  padding: 27px;
  color: #fff;
}

.portfolio-container__article :after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.25)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0.01%, rgba(0, 0, 0, 0.25) 100%);
  z-index: -1;
}

.portfolio-container__article h3 {
  color: #fff;
}

.portfolio-container__article p,
.portfolio-container__article a {
  color: rgba(255, 255, 255, 0.75);
}

.portfolio-container__article img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

@media screen and (min-width: 768px) {
  .main-portfolio {
    width: calc(100% - 195px);
    padding-top: 0;
  }
}

.header-info hr {
  display: none;
}

.header-info .big {
  display: none;
}

.header-info__img {
  width: 100%;
  height: 240px;
  position: relative;
  z-index: -2;
}

.header-info__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-info__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
}

.header-info__text {
  width: calc(100% - 27px);
  padding-left: 27px;
  padding-top: 80px;
  margin-top: -45px;
  background: #fff;
}

.header-info__text h2 {
  margin-bottom: 1rem;
}

.about-section h2 {
  margin-bottom: 2rem;
}

.about-section__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.leaders-section {
  width: calc(100% - 57px);
  margin: 0 auto;
}

.leaders-section h2 {
  margin-bottom: 4rem;
}

.leaders-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.leaders-section__container img {
  width: 100%;
  margin-bottom: 24px;
}

.leaders-section__container p {
  margin: 4px 0 8px 0;
}

.leaders-section .icon {
  font-size: 32px;
}

.leaders-section .icon:first-child {
  margin-right: 26px;
}

@media screen and (min-width: 768px) {
  .header-info {
    position: relative;
    width: calc(100% - 195px);
    margin: 0 auto;
  }
  .header-info hr {
    display: block;
    margin-top: 67px;
  }
  .header-info .big {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header-info__img {
    height: 720px;
  }
  .header-info__img:after {
    background: rgba(0, 0, 0, 0.35);
  }
  .header-info__text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 10%);
    max-width: 720px;
    padding-left: 40px;
    padding-top: 20px;
    margin-top: 0;
    background: #fff;
  }
  .header-info__text h2 {
    margin-bottom: 2rem;
  }
  .leaders-section {
    width: calc(100% - 195px);
  }
  .leaders-section__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 40px 1rem;
  }
  .leaders-section__container img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-section h2 {
  margin: 40px 0;
}

.contact-section__office {
  margin-bottom: 40px;
}

.contact-section__office:last-child {
  margin-bottom: 0;
}

.contact-section__office p {
  font-weight: 700;
}

.contact-section__office span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  color: #1b1d23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.contact-section__office span:hover {
  text-decoration: underline;
}

.contact-section__office .map-icon {
  font-size: 24px;
}

.contact-section__text {
  margin: 12px 0;
}

.contact-section__text p {
  font-weight: 400;
  margin-bottom: 10px;
}

.form {
  width: calc(100% - 57px);
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 80px;
  position: relative;
}

.form__input_text, .form__input_textarea {
  border: 0;
  border-bottom: 1px solid #1b1d23;
  margin-top: 40px;
  padding-left: 2rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 700;
}

.form__input_text.error, .form__input_textarea.error {
  border-color: #df5656;
}

.form__input_text.error::-webkit-input-placeholder, .form__input_textarea.error::-webkit-input-placeholder {
  color: #df5656;
  opacity: 0.5;
}

.form__input_text.error:-ms-input-placeholder, .form__input_textarea.error:-ms-input-placeholder {
  color: #df5656;
  opacity: 0.5;
}

.form__input_text.error::-ms-input-placeholder, .form__input_textarea.error::-ms-input-placeholder {
  color: #df5656;
  opacity: 0.5;
}

.form__input_text.error::placeholder, .form__input_textarea.error::placeholder {
  color: #df5656;
  opacity: 0.5;
}

.form__input_text::-webkit-input-placeholder, .form__input_textarea::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: 700;
  color: #c8ccd8;
}

.form__input_text:-ms-input-placeholder, .form__input_textarea:-ms-input-placeholder {
  font-size: 20px;
  font-weight: 700;
  color: #c8ccd8;
}

.form__input_text::-ms-input-placeholder, .form__input_textarea::-ms-input-placeholder {
  font-size: 20px;
  font-weight: 700;
  color: #c8ccd8;
}

.form__input_text::placeholder, .form__input_textarea::placeholder {
  font-size: 20px;
  font-weight: 700;
  color: #c8ccd8;
}

.form__input_text:focus, .form__input_textarea:focus {
  outline: none;
  border-bottom-width: 4px;
}

.form__input_text {
  width: 100%;
  height: 47px;
}

.form__input_textarea {
  width: 100%;
  height: 95px;
}

.form__submit {
  position: absolute;
  right: 0;
  width: 80px;
  height: 80px;
  background: #1b1d23;
  border: 0;
  cursor: pointer;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.form__submit .icon {
  font-size: 24px;
  color: #fff;
}

.form__submit:hover {
  background: #60636d;
}

.form .input-container {
  position: relative;
}

.form .error-msg {
  font-size: 15px;
  font-weight: 700;
  color: #df5656;
  position: absolute;
  bottom: 8px;
  right: 2rem;
}

.leaflet-container {
  width: 100%;
  height: 367px;
}

@media screen and (min-width: 768px) {
  br {
    display: none;
  }
  .contact-section h2 {
    margin-top: 0;
  }
  .contact-section__office {
    position: relative;
  }
  .contact-section__office span {
    position: absolute;
    right: 0;
    bottom: 3rem;
  }
  .form {
    width: calc(100% - 195px);
    padding-top: 200px;
  }
  .leaflet-container {
    width: calc(100% - 195px);
    margin: 0 auto;
    height: 560px;
  }
}

.nav {
  width: 100%;
  height: 96px;
  background: #fff;
}

.nav__center {
  width: calc(100vw - 54px);
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__hamburger, .nav__x {
  font-size: 24px;
  cursor: pointer;
}

.nav__links {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    height: 152px;
    width: calc(100% - 195px);
    margin: 0 auto;
  }
  .nav__center {
    width: 491px;
    margin: 0;
    height: 100%;
  }
  .nav__hamburger, .nav__x {
    display: none;
  }
  .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 56px;
  }
  .nav__link {
    list-style-type: none;
  }
  .nav__link a {
    font-size: 15px;
    color: #7d828f;
    font-weight: 700;
  }
}

.footer {
  background: #eeeff4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 132px;
  padding-bottom: 48px;
}

.footer__container {
  width: calc(100% - 57px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.footer__logo {
  display: block;
  width: 120px;
  height: 120px;
  background: #1b1d23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -60px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.footer__links a {
  color: #7d828f;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer {
    width: calc(100% - 20%);
    background: #eeeff4;
    display: block;
    margin-top: 200px;
    padding-bottom: 0;
  }
  .footer__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  .footer__logo {
    margin-top: 0;
  }
  .footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 3rem;
  }
  .footer .button {
    position: absolute;
    right: 0;
  }
}

.sidebar {
  background: #eeeff4;
  position: fixed;
  z-index: 10;
  right: 0;
  width: 0;
  height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.sidebar__container {
  padding: 48px;
}

.sidebar__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.sidebar__container li {
  list-style-type: none;
}

.sidebar__container a {
  color: #1b1d23;
  font-size: 18px;
  font-weight: 700;
}

.sidebar-background {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  z-index: -100;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.open.sidebar {
  width: 343px;
}

.open.sidebar-background {
  opacity: 1;
  z-index: 9;
}
/*# sourceMappingURL=index.css.map */