@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
@import './global-styles';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

// pages
@import './pages/home';
@import './pages/portfolio';
@import './pages/about';
@import './pages/contact';

// components
@import './components/navabar';
@import './components/footer';
@import './components/sidebar';
